---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: internal
spec:
  gatewayClassName: cilium
  infrastructure:
    annotations:
      io.cilium/lb-ipam-ips: "#{ bootstrap_cloudflare.ingress_vip }#"
  listeners:
    - name: https
      protocol: HTTPS
      port: 443
      hostname: "*.${SECRET_DOMAIN}"
      tls:
        certificateRefs:
          #% if bootstrap_cloudflare.acme.production %#
          - kind: Secret
            name: "${SECRET_DOMAIN/./-}-production-tls"
          #% else %#
          - kind: Secret
            name: "${SECRET_DOMAIN/./-}-staging-tls"
          #% endif %#
      allowedRoutes:
        namespaces:
          from: All
