# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
talosconfig
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
# Private
.private
.bin
# Ansible
.venv*
# Taskfile
.task
# Brew
Brewfile.lock.json
# intellij
.idea
# wiki
wiki
# Bootstrap
/config.yaml
# OpenTofu/Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars
**/terraform.tfvars.json
**/.terraform.tfstate.lock.info
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/.terraformrc
**/terraform.rc
