---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: github-webhook-token-secret
  annotations:
    secrets-migration.pik8s.dev/phase: external-secret
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: 1password
  target:
    name: github-webhook-token-secret
    creationPolicy: Orphan
    deletionPolicy: Retain
    template:
      engineVersion: v2
      metadata:
        annotations:
          kustomize.toolkit.fluxcd.io/prune: disabled
      data:
        token: '{{ index . "token" }}'
  dataFrom:
    - extract:
        key: github-webhook-token-secret
