---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./secret.sops.yaml
  #% if bootstrap_cloudflare.enabled %#
  - ./httproute.yaml
  - ./dnsendpoint.yaml
  #% endif %#
  - ./receiver.yaml
