---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name sabnzbd
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    controllers:
      sabnzbd:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/sabnzbd
              tag: 4.5.5@sha256:485440a3e9209a3515c01e1c73d6088726491a292302a721d4cb9e7c6375c768
            env:
              TZ: "${TIMEZONE}"
              SABNZBD__PORT: &port 8080
              SABNZBD__HOST_WHITELIST_ENTRIES: >-
                sabnzbd,
                sabnzbd.media,
                sabnzbd.media.svc,
                sabnzbd.media.svc.cluster,
                sabnzbd.media.svc.cluster.local,
                sabnzbd.${SECRET_DOMAIN},
                sab.${SECRET_DOMAIN},
            envFrom:
              - secret: sab-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api?mode=version
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            securityContext:
              runAsUser: 0
            resources:
              requests:
                cpu: 300m
              limits:
                memory: 5Gi
        pod:
          securityContext:
            runAsUser: 0

    defaultPodOptions:
      securityContext:
        runAsUser: 0

    service:
      app:
        controller: *name
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        className: internal
        hosts:
          - host: &host "sab.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  name: *name
                  port: *port
          - host: &customhost "sabnzbd.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  name: *name
                  port: *port
        tls:
          - hosts:
              - *host
              - *customhost

    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteMany
        storageClass: nfs
        size: 1Gi
      mediatv:
        enabled: true
        type: hostPath
        hostPath: /mnt/tv
      mediamovies:
        enabled: true
        type: hostPath
        hostPath: /mnt/movies
      download:
        enabled: true
        type: hostPath
        hostPath: /mnt/transcode
